.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home {
  background: #f8d57e;
  height: 115vh;
  overflow: hidden;
  position: relative;
}

.home header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0);
}

.home main {
  padding: 0 50px;
}

.home main .title {
  text-align: center;
  height: 170px;
  font-size: 68px;
  margin: 20px;
}

.home main .description {
  text-align: center;
  height: 60px;
  font-size: 20px;
}

.home main .button-frame {
  margin: 20px;
  gap: 20px;
}

.App .ant-btn-primary {
  background: #009379;
  box-shadow: none;
  font-size: 16px;
  font-family: "Poppins";
  width: 180px;
  height: 50px;
  border-radius: 20px;
  border: 1.5px solid #009379;
  gap: 8px;
}

.App .converse-button {
  background: #fff;
  border: 1.5px solid #009379;
  width: 183px;
  height: 53px;
  color: #009379;
}

:where(.css-dev-only-do-not-override-1k979oh).ant-btn-primary:not(
    :disabled
  ):not(.ant-btn-disabled):hover {
  background: rgba(255, 255, 255, 0.303);
  color: #009379;
}

.home .red-star {
  right: 150px;
  bottom: 60px;
  position: absolute;
  z-index: 3;
}

.home .white-star {
  left: 130px;
  bottom: 220px;
  position: absolute;
  z-index: 3;
}

.home .phone {
  position: absolute;
  transform: translateX(-140px);
  z-index: 5;
  width: 300px;
  left: 50%;
  bottom: 0;
}

.commodity-background {
  position: absolute;
  width: 420px;
  height: 280px;
  border-radius: 127px 127px 0 0;
  background: #fff;
  bottom: -70px;
  left: 50%;
  transform: translateX(-210px);
}
